:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  /*62.5% of 16px = 10px*/
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem; /*margem entre texto e titulo*/
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*Links*/
a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2.4rem; /*mobile aproach first*/
  line-height: 1.5; /*1.5*font size distancia entre linhas*/
  color: var(--color-body);
}

/*Lists*/
li {
  list-style: none;
}

ul {
  padding: 0;
}

/*Navbar*/
.navbar {
  background-color: black;
  margin: auto;
  position: relative;
  position: fixed;
  width: 100vw;
  padding-right: 2rem;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}

.navbar-items {
  position: absolute;
  background-color: black;
  top: 6rem;
  right: 0;
  padding: 5rem;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  border-bottom-left-radius: 10px;
}

.navbar-items li a {
  cursor: pointer;
  padding: 0 1rem;
  font-size: 1.8rem;
  color: var(--color-border);
  padding-bottom: 1rem;
}

.navbar-items li a:hover {
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.navbar-logo h2 {
  margin: 0;
  color: white;
  font-size: 3rem;
}

.navbar-logo img {
  width: 14rem;
  height: 7rem;
  padding: 1rem;
}

.navbar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title i {
  font-size: 5rem;
  color: white;
  cursor: pointer;
}

.invisible {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar-items {
    display: flex;
    align-items: center;

    position: relative;
    top: 0;
    padding: 0;
    box-shadow: none;
    border-bottom-left-radius: 0px;
  }

  .toggler {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .navbar-title {
    display: block;
  }

  .navbar-items {
    top: 13rem;
  }
}

/*Footer*/
.footer {
  background-color: rgb(56, 56, 56);
  font-size: 2rem;
}

.footer-logo {
  text-align: center;
}

.footer-contacts {
  text-align: center;
}

.footer-contacts h3 {
  color: white;
}

.footer-socials {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0rem;
}

.footer-socials i {
  padding: 0 1rem;
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-contacts {
    text-align: left;
  }
}
